


#section{
    margin-top: 62px;
    padding-top: 15px;
    padding-bottom: 50px;
    background: url("../img/bg.jpg");
    color:white;
    background-size:100%100%;
}

#section p{
    font-size: 18px;
    margin-top: 15px;
    color:white;
    letter-spacing: 1px;
}

#section h4{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}














