.navbar-header{
    padding-left: 45px;
    padding-right: 15px;
    background: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: #000;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-default .navbar-brand {
    color: #f3efef;
    font-size: 20px;
}
.container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-default .navbar-brand:hover {
    color: #ccc;
    background-color: transparent;
}
.navbar-nav {
    float: left;
    margin: 0;
    padding-right: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
    background-color: transparent;
}
#header .banner{
    height: 260px;
    margin-top: -20px;
    background-image: url("./img/banner.jpg");
    background-size:cover;
    background-position:-470px 35px;
    color:#fff;
}
.banner h2{
    font-size: 38px;
    padding-top: 47px;
    letter-spacing: 1px;
}
.banner p{
    font-size: 20px;
    padding-top: 14px;
}

#section{
    margin-top: 50px;
}


#footer{
    background: #000;
    padding:20px 0;
}
#footer .foot{
    color:#fff;
}

#footer .foot li{
    list-style: none;
    padding-top: 5px;
}