*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next {
    left: 50%;
    right:auto;
    top:auto;
    bottom: 3%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    width: 26px;
    height: 23px;
    background-size: contain;
    animation:buttonnext 1.5s infinite;
}
@keyframes buttonnext {
    from{
        bottom: 3%;
        opacity:1;
    }
    to{
        bottom: 7%;
        opacity:0;
    }

}
/*背景音乐样式*/
#mp3{
    text-align: center;

}
@keyframes q{
    from{
       transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
#mp3btn{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    top: 26px;
    right: 13px;
    border: 4px solid #696666;
    border-radius: 50%;
    animation:q 3s infinite;
    animation-timing-function:linear;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
#mp3btn img{
    width: 15px;
}

/*s1第一屏样式*/
.s1,.s2{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}
.s1 .header img{
    position: absolute;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    top: 120px;
    left: 50px;
    animation:rotateIn 5s;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    top: 90px;
    left: 270px;
    animation:rotateIn 5.5s;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    top: 430px;
    left: 33px;
    animation:rotateIn 5.4s;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    top: 410px;
    left: 300px;
    animation:rotateIn 5.7s;
}
.s1 .header img:nth-of-type(5){
    width:70%;
    left: 50%;
    top: 25%;
    margin-left: -35%;
    animation:rotateIn 1s;

}
/*.s1文字部分*/
.s1 .main{
    position: absolute;
    padding-top: 200px;
}
.s1 .main img:nth-of-type(1){
    width: 160px;
    height: 57px;
}
.s1 .main img:nth-of-type(2){
    width: 320px;
    height: 80px;
    margin-bottom: 25px;
}
.s1 .main .img9{
    background: url("../img/9.png");
    margin:auto;
    background-size:contain;
    font-weight: bold;
    width: 210px;
    height: 24px;
    line-height: 25px;
    border-radius: 10px;
}
.s1 .footer{
    color:#00c1a0;
    position: absolute;
    width: 100%;
    bottom: 70px;
}
.s1 .footer p:nth-of-type(1){
    font-weight:bold;
}
.s1 .footer p:nth-of-type(2){
    margin-top: 10px;
    margin-bottom: 35px;
}
.s1 .footer img{
    position: absolute;
    height: 70px;

}
.s1 .footer img:nth-of-type(1){
    left: -44px;
    animation:fun 1s infinite alternate;
    animation-timing-function: linear;
}
@keyframes fun {
    from{
        left: -44px;
    }
    to{
        left: 20px;
    }

}
.s1 .footer img:nth-of-type(2){
    left:-80px;
    animation:funa 1s infinite alternate;
    /*infinite 无限； alternate 交替，轮流；linear 直线的*/
    animation-timing-function: linear;
}
@keyframes funa {
    from{
        left: -80px;
    }
    to{
        left: -56px;
    }

}
/*第二屏代码*/

.s2 {
    color: #00f8ca;
}

.s2 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s2 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}

.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 div img {
    width: 100%;
    position: absolute;
    left: 0;
}

.s2 div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
    letter-spacing: 0.11px;
}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -60px;
}
.s2 .footer{
    position: absolute;
    height: 70px;
    bottom: 0;
}
.s2 .footer img{
    width: 100%;
    top: 430px;
    height: 70px;
    width: 470px;
}
.s2 .footer img:nth-of-type(1){
    left: -21px;
}
.s2 .footer img:nth-of-type(2){
    left: -80px;
}
/*第三屏代码    s3*/
.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%;
    color: #00f8ca;
    position: relative;
}

.s3 h2,.s4 h2,.s5 h2,.s6 h2,.s7 h2 {
    font-size: 26px;
    position: relative;
    top: 12%;
}

.s3 small,.s4 small,.s5 small,.s6 small,.s7 small {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 8px;
}

.s3 h2::before,
.s3 h2::after,
.s4 h2::before,
.s4 h2::after,
.s5 h2::before,
.s5 h2::after,
.s6 h2::before,
.s6 h2::after,
.s7 h2::before,
.s7 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before,.s4 h2::before,.s5 h2::before,.s6 h2::before,.s7 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 h2::after,.s4 h2::after,.s5 h2::after,.s6 h2::after,.s7 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}


.s3 .pic{
    position: relative;
}
.s3 .pic img{
    position: absolute;
}
.s3 .pic img:nth-of-type(1){
    left: 88px;
    top: 109px;
}
.s3 .pic img:nth-of-type(2){
    right: 90px;
    top: 109px;
}
.s3 .pic img:nth-of-type(3){
    left: 20px;
    top: 256px;
}
.s3 .pic img:nth-of-type(4){
    right: 20px;
    top: 256px;
}
.s3 .pic img:nth-of-type(5){
    left: 88px;
    top: 360px;
}
.s3 .pic img:nth-of-type(6){
    right: 88px;
    top: 360px;
}
.s3 .pic img:nth-of-type(7){
    left: 124px;
    top: 193px;
}
.s3 .p{
    text-align: left;
    position:absolute;
    left: 36px;
    bottom: 90px;
    border-left:2px solid #03f1d1;
    padding-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
}

.s3 .footer{
    position: relative;
}
.s3 .footer img{
    width: 100%;
    height: 70px;
    position:absolute;
    z-index: 200;
}
.s3 .footer img:nth-of-type(1){
    left: 38px;
    bottom: -606px;
    width: 470px;
}
.s3 .footer img:nth-of-type(2){
    width: 515px;
    left: -43px;
    bottom: -606px;
}






.s3 .footer{
    position: relative;
}
.s3 .footer img{
    width: 100%;
    height: 70px;
    position:absolute;
    z-index: 200;
}
.s3 .footer img:nth-of-type(1){
    left: 38px;
    bottom: -606px;
    width: 470px;
}
.s3 .footer img:nth-of-type(2){
    width: 515px;
    left: -43px;
    bottom: -606px;
}
.s4{
}
.s4 .text{
    list-style: none;
}
.s4 .text img{
    position: absolute;
    width: 80%;
    height: 76%;
    margin-left: -40%;
    padding-top: 98px;
}
.s4 .text p{
    position: absolute;
    width: 70%;
    left: 51px;
    top: 492px;
    font-size: 14.4px;
    line-height: 25px;
}
.s4 .text .first{
    top: 26%;
    left: 35%;
    position:absolute;
    margin-left: -41px;
}
.s4 .text .first li{
    float: left;
    margin-left: 30px;
}
.s4 .text .first::after,.s4 .th1 li::after
,.s4 .th2 li::after,.s4 .th3 li::after
{
    display: table;
    content: '';
    clear:both;
}
.s4 .text .first li img{
    width: 22px;
    height: 119px;
    padding-top: -70px;
    margin-top: -95px;
}
.s4 .text .first li:nth-of-type(1) img{
    left: 73px;
}
.s4 .text .first li:nth-of-type(2) img{
    left: 165px;
}



.s4 .th1,.s4 .th2,.s4 .th3{
    position: absolute;
    left: 87px;
    top: 218px;
}
.s4 .th1 li,.s4 .th2 li,.s4 .th3 li{
    list-style: none;
}
.s4 .th1 li img,.s4 .th2 li img,.s4 .th3 li img{
    width: 22px;
    height: 119px;
    padding-top: -70px;
    margin-top: -95px;
}
.s4 .th1 li:nth-of-type(1) img,.s4 .th2 li:nth-of-type(1) img,.s4 .th3 li:nth-of-type(1) img{
    left: 25px;
}
.s4 .th1 li:nth-of-type(2) img
{
    width: 150%;
    height: 114px;
    margin-left: -94px;
}
.s4 .th1 li:nth-of-type(3) img
{
    width: 130%;
    height: 114px;
    margin-left: -94px;
}
.s4 .th1 li span,.s4 .th2 li span,.s4 .th3 li span{
    float: right;
    margin-right: -97px;
}
.s4 .th2{
    top: 47%;
}
.s4 .th2 li:nth-of-type(2) img{
    width: 149%;
    height: 114px;
    margin-left: -94px;
}
.s4 .th2 li:nth-of-type(3) img{
    width: 119%;
    height: 114px;
    margin-left: -94px;
}

.s4 .th1 li:nth-of-type(3) span{
    color:#00c0fe;
    display: inline-block;
    padding-right: 16px;
}
.s4 .th2 li:nth-of-type(3) span{
    color:#00c0fe;
    padding-right: 38px;
    display: inline-block;
}
.s4 .th3 li:nth-of-type(2) span{
    padding-right: 50px;
    display: inline-block;
}
.s4 .th3 li:nth-of-type(3) span{
    color:#00c0fe;
    padding-right: 89px;
    display: inline-block;
}
.s4 .th3{
    top: 59%;
}
.s4 .th3 li:nth-of-type(2) img{
    width: 115%;
    height: 114px;
    margin-left: -94px;
}
.s4 .th3 li:nth-of-type(3) img{
    width: 90%;
    height: 114px;
    margin-left: -94px;
}






.s4 .footer,.s5 .footer,.s6 .footer,.s7 .footer{
    position: relative;
}
.s4 .footer img,.s5 .footer img,.s6 .footer img,.s7 .footer img{
    width: 100%;
    height: 70px;
    position:absolute;
    z-index: 200;
}
.s4 .footer img:nth-of-type(1),.s5 .footer img:nth-of-type(1),.s6 .footer img:nth-of-type(1),
.s7 .footer img:nth-of-type(1){
    left: 38px;
    bottom: -606px;
    width: 470px;
}
.s4 .footer img:nth-of-type(2),.s5 .footer img:nth-of-type(2),.s6 .footer img:nth-of-type(2),
.s7 .footer img:nth-of-type(2){
    width: 515px;
    left: -43px;
    bottom: -606px;
}




.s5{

}
.s5 .th5{
    position: absolute;
    top: 25%;
    left: 20%;
    margin-left: -56px;
    margin-top: -35px;
}

.s5 .th5 li{
    width: 140px;
    height: 176px;
    background: url("../img/12.png");
    background-size:contain;
    float: left;
    margin-left: 17px;
    margin-top: 32px;
    padding: 15px 10px;
    list-style: none;
}
.s5 .th5::after{
     display: table;
     content: '';
     clear: both;
 }
.s5 .th5 li span{
    width: 88px;
    height: 23px;
    color:#000;
    background: url("../img/9.png");
    background-size:100%;
    border-radius: 360px;
    display: inline-block;
}

.s6{

}
.s6 .main5{
    position: absolute;
    top: 22%;
    left: 13%;
}
.s6 .side{
    position: absolute;
    top: 163px;
    left: 22px;
    height: 416px;
}
.s6 .main5 p{
    text-align: left;
    margin-left: 5px;
    font-size: 17px;
    padding: 2px 7px;
    padding-bottom: 3px;
}
.s6 .main5 h3{
    background: url("../img/22.png");
    background-size:100%;
    margin-top: 18px;
    margin-bottom: 12px;
    margin-left: 12px;
    text-align: left;
    padding-left: 19px;
    color:#000;
}
.s6 .main5 div{
    top: 0;
}
.s6 .main5 div div{
    background: url("../img/23.png");
    background-size:100%;
    margin-bottom: 22px;
}




.main6 div{
    position: absolute;
    top: 25%;
    width: 80%;
    left:50%;
    margin-left: -40%;
}
.main6 img{
    position:absolute;
    width: 100%;
    left:0;
}
.main6 div form{
    position: absolute;
    top:20px;
}
.main6 .required {
    position: absolute;
    top:8%;
    color:red;
    left: 8%;
}
/*.main6 form label{*/
/*position: absolute;*/
/*color:red;*/
/*left: 8%;*/
/*}*/
/*.main6 .required1 {*/
/*top:33%;*/
/*}*/
/*.main6 .required2 {*/
/*top:58%;*/
/*}*/
.main6 div form input{
    width: 270px;
    height: 60px;
    border:1px solid #1beccc;
    padding:15px;
    margin-bottom: 12px;
}
.main6 div input:last-child{
    background-color: #1beccc;
    color:white;
    font-size:16px;
}
.main6 div p{
    position:absolute;
    font-size:16px;
    top:310px;
    padding:0 20px;
}