
//home页样式
.home{
  background: #fff;
  h1{
    top: 50px;
    position: relative;
    letter-spacing: 4px;
    font-size: 27px;
    font-weight: bold;
  }

  .dropdown-menu>li>a {
    display: block;
    padding: 9px 50px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .img{
    width: 61px;
    height: 37px;
    margin-left: 20px;
    margin-top: 9px;
  }
  .swiper-container{

      h2{
        font-size: 18px;
      }
      p{
        font-size: 15px;
      }
      a{
        color:black;
      }
      img{
        width: 100%;
      }

  }
}


//list页样式
.list{
  position: relative;
  height: 1000px;
  .header{
    width: 100%;
    height: 100px;
    background: #000;
    position: fixed;
    z-index: 222;
    color:white;
    top: 0;
    .nav{
      height:50px;
      h2{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .img1{
        position: absolute;
        left: 38px;
        top: 19px;
        width: 25px;
        height: 25px;
      }
      .img2{
        position: absolute;
        right: 71px;
        top: 20px;
        width: 22px;
        height: 20px;
      }
      .img3{
        position: absolute;
        right: 24px;
        top: 18px;
        width: 19px;
        height: 23px;
      }
    }
    .banner{
      height: 50px;
      border-top: 1px solid #ccc;
      p{
        font-size: 18px;
        font-weight: 700;
        margin-left: 45px;
        margin-top: 11px;
        small{
          margin-left: 69px;
        }
      }
      .dropdown{
        position: absolute;
        right: 42px;
        top: 47px;
      }
      .dropdown-menu{
        right: 0;
        width: 50%;
        padding-right: 100px;
        left: -218px;
        min-width: 349px;
        animation:fadeIn;
      }
      .dropdown-menu>li>a {
        display: block;
        padding: 9px 50px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        text-align: center;
        font-size: 18px;
        letter-spacing: 1px;
      }
      .img{
        width: 83px;
        height: 38px;
        background: #000;
        margin-left: 20px;
        margin-top: 9px;
      }
    }
  }
  .main{
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 100px;
    h1{
      width:150px;
      margin:auto;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 10px;
    }
    p{
      font-size: 18px;
    }
    h3{
      font-size: 22px;
      font-weight: bold;
      margin-top: 30px;
      padding-bottom: 10px;
    }
    .container{
      .col-xs-6{
        margin-bottom: 20px;
        img{
          width: 100%;
          margin-bottom: 8px;
        }
        p{
          text-align: center;
          font-weight: bold;
        }
        a{
          color:black;
        }
      }
    }
    .middle{
      width: 100%;
      height: 490px;
      background: #eaeae8;
      margin-bottom: 15px;
      border-bottom:5px solid #000; ;
      img{
        width: 90%;
        margin-left: 5%;
        margin-top: 25px;
      }
      h2{
        font-weight: bold;
        font-size: 28px;
        padding-top: 20px;
      }
      p{
        color:black;
        padding-top: 10px;
      }
      span{
        display: inline-block;
        padding:10px 18px;
        color:white;
        background: #000;
        left: 50%;
        margin-left: 43%;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
    .bottom{
      width: 100%;
      height: 300px;
      .last{
        p{
          margin-left: 20px;
          font-weight: bold;
          small{
            margin-left: 68%;
          }
        }
      }
      .next{
        font-weight: bold;
        background: #000;
        color:#fff;
        padding:12px 0 5px 0;
      }
      .finish{
        height: 165px;
        background: #000;
        border-top: 1px solid #ccc;
        border-bottom: 3px solid #fff;
      }
    }
  }
  .footer{
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    bottom: 0;
    margin-top: 500px;
    border-top:1px solid #000;
    ul{
      margin-left: -15px;
      li{
        list-style: none;
        color: #fff;
        float: left;
        margin-left: 15px;
        margin-top: 14px;
        font-size: 15px;
      }
      .pp{
        float: right;
        margin-right: 20px;
      }
    }
  }
}
.list .footer ul::after{
  display: table;
  content: '';
  clear:both;
}


//shop页样式

.shop{
  .header{
    width: 100%;
    height: 100px;
    background: #000;
    position: fixed;
    z-index: 222;
    color:white;
    top: 0;
    .nav{
      height:50px;
      h2{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .img1{
        position: absolute;
        left: 38px;
        top: 19px;
        width: 25px;
        height: 25px;
      }
      .img2{
        position: absolute;
        right: 71px;
        top: 20px;
        width: 22px;
        height: 20px;
      }
      .img3{
        position: absolute;
        right: 24px;
        top: 18px;
        width: 19px;
        height: 23px;
      }
    }
    .banner{
      height: 50px;
      border-top: 1px solid #ccc;
      p{
        font-size: 18px;
        font-weight: 700;
        margin-left: 45px;
        margin-top: 13px;
        small{
          margin-left: 69px;
        }
      }
    }
  }


  .section{
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 100px;
    color:black;
    h1{
      font-weight: bold;
      padding-top: 20px;
      letter-spacing: 2px;
    }
    p{
      font-size: 19px;

    }
    .container{
      .col-xs-12{
        a{
          color:black;
        }
        h3{
          font-weight: bold;
          font-size: 18px;
        }
        img{
          width: 100%;
        }
        .th2{
          font-weight: bold;
        }
        span{
          display: inline-block;
          padding:13px 17px;
          margin-left: 37%;
          background: #000;
          color:#fff;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          margin-top: 15px;
          margin-bottom: 60px;
        }
      }
      .col-xs-6{
        h3{
          font-weight: bold;
          font-size: 16px;
        }
        img{
          width: 100%;
        }
        .th1{
          font-size: 13px;
        }
        .th2{
          font-weight: bold;
        }
        span{
          display: inline-block;
          padding:11px 14px;
          background: #000;
          color:#fff;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 1px;
          margin-left: 21%;
          margin-top: 15px;
          margin-bottom: 60px;
        }
      }
    }
    .middle{
      width: 100%;
      height: 490px;
      background: #eaeae8;
      margin-bottom: 15px;
      border-bottom:5px solid #000; ;
      img{
        width: 90%;
        margin-left: 5%;
        margin-top: 25px;
      }
      h2{
        font-weight: bold;
        font-size: 28px;
        padding-top: 20px;
      }
      p{
        color:black;
        padding-top: 10px;
      }
      span{
        display: inline-block;
        padding:10px 18px;
        color:white;
        background: #000;
        left: 50%;
        margin-left: 43%;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    .bottom{
      width: 100%;
      height: 300px;
      .last{
        p{
          margin-left: 20px;
          font-weight: bold;
          small{
            margin-left: 67%;
          }
        }
      }
      .next{
        font-weight: bold;
        background: #000;
        color:#fff;
        padding:12px 0 5px 0;
      }
      .finish{
        height: 165px;
        background: #000;
        border-top: 1px solid #ccc;
        border-bottom: 3px solid #fff;
      }
    }
  }



  .footer{
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    bottom: 0;
    margin-top: 500px;
    border-top:1px solid #000;
    ul{
      margin-left: -15px;
      li{
        list-style: none;
        color: #fff;
        float: left;
        margin-left: 15px;
        margin-top: 14px;
        font-size: 15px;
      }
      .pp{
        float: right;
        margin-right: 20px;
      }
    }
  }
}



//详情页样式
.details{
  .header{
    width: 100%;
    height: 60px;
    background: #000;
    position: fixed;
    z-index: 222;
    color:white;
    top: 0;
    .nav{
      height:50px;
      h2{
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .img1{
        position: absolute;
        left: 38px;
        top: 19px;
        width: 25px;
        height: 25px;
      }
      .img2{
        position: absolute;
        right: 71px;
        top: 20px;
        width: 22px;
        height: 20px;
      }
      .img3{
        position: absolute;
        right: 24px;
        top: 18px;
        width: 19px;
        height: 23px;
      }
    }

  }

  .section{
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 100px;
    color:black;
    .top{
      h2{
        font-size: 21px;
        margin: 0;
        padding-left: 20px;
      }
      p{
        padding-left: 20px;
        padding-top: 10px;
      }
      img{
        width: 100%;
        padding-top: 50px;
      }
      select{
        width: 73%;
        height: 40px;
        margin-left: 10%;
        option{
          width: 60%;
        }
      }
      .th1{
        text-align: right;
        margin-right: 38px;
        font-size: 20px;
        margin-top: 15px;
      }
      .th2{
        text-align: left;
        select{
          width: 15%;
          height: 30px;
          margin-left: 1%;
          font-size: 15px;
        }
        span{
          padding:10px 15px;
          background: #000;
          color:#fff;
          margin-left: 35%;
        }
      }
      .th3{
        text-align:right;
        margin-right: 5%;
        margin-top: 40px;
      }
    }
    .little{
      width: 90%;
      height: 120px;
      text-align: left;
      margin-top: 50px;
      float: left;
      margin-left: 5%;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      margin-bottom: 85px;
      img{
        width: 100px;
        margin-top: 10px;
      }
      h3{
        font-size: 15px;
        margin-top: -80px;
        margin-left: 120px;
      }
      p{
        width: 60%;
        margin-left:120px;
      }
    }
    .bottom{
      margin-bottom: 80px;
      h2{
        font-size: 25px;
        margin-bottom: 50px;
      }
      h4{
        margin-left: 20px;
        font-weight: bold;
        font-size: 16px;
        padding-top: 10px;
      }
      p{
        width: 90%;
        margin-left: 5%;
        letter-spacing: 1px;
        padding-bottom: 5px;
      }
      img{
        width: 100%;
      }
    }
  }

  .footer{
    width: 100%;
    height: 50px;
    background: #000;
    position: fixed;
    bottom: 0;
    margin-top: 500px;
    border-top:1px solid #000;
  p{
    color:#fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10%;
    letter-spacing: 2px;
    small{
      margin-left: 45%;
    }
  }
  }
}



