<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div id="app">
    <h1>待办事项</h1>
    <header>
        <input type="text" v-model="message" @keyup.enter="add">
        <button @click="add">添加</button>
    </header>

    <ul>
        <li v-for="(list,index) in lists">
            <sapn>{{list}}</sapn>
            <button @click="del(index)">删除</button>

        </li>
    </ul>
</div>


<script src="node_modules\vue\dist\vue.js"></script>
<script src="js/vue.js"></script>
<script src="js/script2.js"></script>
</body>
</html>