

.p1,.p2,.p3,.p4,.p5{
    width: 100%;
    height: 100%;
    background: url("../img/7.gif");
    color:#fff;
    position:relative;
}
#mp3{
    text-align: center;

}
@keyframes q{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
#mp3btn{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    top: 26px;
    right: 13px;
    border: 4px solid #696666;
    border-radius: 50%;
    animation:q 3s infinite;
    animation-timing-function:linear;
    text-align: center;
    line-height: 42px;
    cursor:pointer;
}
#mp3btn img{
    width: 14px;
}


/*第一页样式*/
.p1 h1{
    position: absolute;
    left: 49px;
    height: 60px;
    top: 47px;
    letter-spacing: 13px;
    font-size: 45px;
}
.p1 h1 small{
    position: absolute;
    top: 73px;
    line-height: 70px;
    z-index: 100;
    font-size: 40px;
    right: 74px;
    animation: fun 2s infinite;
}
@keyframes fun {
    0%{
        color:red;
    }
    50%{
        color:yellow;
    }
    100%{
        color:blue;
    }
}
.p1 .main img{
    position: absolute;
    left: 39px;
    top: 148px;
}
.p1 .come{
    position: absolute;
    left: 5%;
    right: 5%;
    text-align: left;
    top: 38%;
    padding:20px 0;
}
.p1 .come h4{
    letter-spacing: 3px;
    font-size: 20px;
}
.p1 .come p{
    padding:0 5px;
    letter-spacing: 1px;
    line-height: 29px;
}
/*h2样式*/
.p2 h2,.p3 h2,.p4 h2,.p5 h2{
    position: relative;
    font-size: 34px;
    letter-spacing: 8px;
    top: 4%;
}

/*第二页样式*/
.p2{

}
.p2 .section{
    position: absolute;
    margin-top: 14px;
    margin-right: 7%;
    margin-left:-4px;
    text-align: left;
    padding-bottom: 4px;
}
.p2 .section ul{
    position: relative;
}
.p2 .section ul li{
    list-style: none;
    padding-top: 20px;
    line-height:27px;
}

/*.p2 .section h3{*/
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
/*}*/
/*.p2 .section p{*/
    /*font-size: 16px;*/
    /*line-height: 26px;*/
    /*padding: 0 15px;*/
/*}*/

/*第三页样式*/
.p3{

}
.p3 ul{
    margin-top: 81px;
    padding-left: 13%;
    font-size: 20px;
}
.p3 ul li{
    list-style: none;
    text-align: left;
    line-height: 50px;
}
.p3 ul li s{
    padding:0 5px;
}

/*第四页样式*/
.p4{

}
.p4 img{
    margin-top: 73px;
    margin-bottom: 54px;
}



/*第五页样式*/
.p5{

}
.p5 input{
    width: 270px;
    height: 23px;
    border: 1px solid #1beccc;
    padding: 15px;
    margin-bottom: 12px;
    font-size: 18px;
    margin-top: 10px;
}
.p5 input:nth-of-type(1){
    margin-top: 33px;
}
.p5 input:nth-of-type(5){
    height: 46px;
    font-weight: bold;
    line-height: 16px;
}
.p5 input:nth-of-type(5):hover{
    color:#2e3836;
    background-color: #fff;
}



@media (max-width: 320px) {
    .p2 .section{
        margin-top: 0;
    }
    .p2 .section ul li{
        padding-top: 10px;
    }
}
@media (min-width: 375px) {
    .p2 .section{

    }
}
@media (max-width: 412px) {
    .p2 .section ul li{

    }
}