

.p1,.p2,.p3,.p4,.p5{
    width: 100%;
    height: 100%;
    background: url("../img/7.gif");
    color:#fff;
    position:relative;
}
#mp3{
    text-align: center;

}
@keyframes q{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
#mp3btn{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 100;
    top: 26px;
    right: 13px;
    border: 4px solid #696666;
    border-radius: 50%;
    animation:q 3s infinite;
    animation-timing-function:linear;
    text-align: center;
    line-height: 42px;
    cursor:pointer;
}
#mp3btn img{
    width: 14px;
}


/*第一页样式*/
.p1 h1{
    position: absolute;
    left: 102px;
    height: 60px;
    top: 30px;
}
.p1 h1 small{
    position: absolute;
    top: 60px;
    z-index: 100;
    width: 55px;
    height: 120px;
    transform:rotate(30deg);
}
.p1 .main img{
    position: absolute;
    left: 39px;
    top: 182px;
}











/*第五页样式*/
.p5{

}
.p5 input{
    width: 270px;
    height: 30px;
    border: 1px solid #1beccc;
    padding: 15px;
    margin-bottom: 12px;
}
